<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.apple.emoji</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_cn</key>
	<string>Emoji</string>
	<key>group_name_en</key>
	<string>Emoji</string>
	<key>group_name_tw</key>
	<string>Emoji</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>code</key>
			<string>0x1f603</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f60d</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f612</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f633</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f601</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f618</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f609</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f620</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f61e</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f625</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f62d</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f61d</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f621</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f623</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f614</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f604</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f637</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f61a</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f613</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f602</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f60a</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f622</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f61c</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f628</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f630</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f632</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f60f</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f631</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f62a</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f616</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f60c</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f47f</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f47b</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f385</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f467</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f466</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f469</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f468</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f436</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f431</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f44d</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f44e</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f44a</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x270a</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x270c</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f4aa</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f44f</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f448</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f446</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f449</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f447</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f44c</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x2764</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f494</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f64f</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x2600</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f319</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f31f</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x26a1</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x2601</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x2614</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f341</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f33b</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f343</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f457</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f380</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f444</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f339</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x2615</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f382</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f559</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f37a</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f50d</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f4f1</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f3e0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f697</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f381</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x26bd</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f4a3</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f48e</string>
			<key>type</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
