<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>/微笑</key>
		<string>024</string>
	</dict>
	<dict>
		<key>/撇嘴</key>
		<string>041</string>
	</dict>
	<dict>
		<key>/色</key>
		<string>020</string>
	</dict>
	<dict>
		<key>/发呆</key>
		<string>044</string>
	</dict>
	<dict>
		<key>/得意</key>
		<string>022</string>
	</dict>
	<dict>
		<key>/流泪</key>
		<string>010</string>
	</dict>
	<dict>
		<key>/害羞</key>
		<string>021</string>
	</dict>
	<dict>
		<key>/闭嘴</key>
		<string>105</string>
	</dict>
	<dict>
		<key>/睡</key>
		<string>036</string>
	</dict>
	<dict>
		<key>/大哭</key>
		<string>011</string>
	</dict>
	<dict>
		<key>/尴尬</key>
		<string>026</string>
	</dict>
	<dict>
		<key>/发怒</key>
		<string>025</string>
	</dict>
	<dict>
		<key>/调皮</key>
		<string>002</string>
	</dict>
	<dict>
		<key>/呲牙</key>
		<string>001</string>
	</dict>
	<dict>
		<key>/惊讶</key>
		<string>034</string>
	</dict>
	<dict>
		<key>/难过</key>
		<string>033</string>
	</dict>
	<dict>
		<key>/酷</key>
		<string>013</string>
	</dict>
	<dict>
		<key>/冷汗</key>
		<string>028</string>
	</dict>
	<dict>
		<key>/抓狂</key>
		<string>014</string>
	</dict>
	<dict>
		<key>/吐</key>
		<string>023</string>
	</dict>
	<dict>
		<key>/偷笑</key>
		<string>004</string>
	</dict>
	<dict>
		<key>/可爱</key>
		<string>019</string>
	</dict>
	<dict>
		<key>/白眼</key>
		<string>031</string>
	</dict>
	<dict>
		<key>/傲慢</key>
		<string>032</string>
	</dict>
	<dict>
		<key>/饥饿</key>
		<string>080</string>
	</dict>
	<dict>
		<key>/困</key>
		<string>081</string>
	</dict>
	<dict>
		<key>/惊恐</key>
		<string>027</string>
	</dict>
	<dict>
		<key>/流汗</key>
		<string>003</string>
	</dict>
	<dict>
		<key>/憨笑</key>
		<string>038</string>
	</dict>
	<dict>
		<key>/大兵</key>
		<string>051</string>
	</dict>
	<dict>
		<key>/奋斗</key>
		<string>043</string>
	</dict>
	<dict>
		<key>/咒骂</key>
		<string>082</string>
	</dict>
	<dict>
		<key>/疑问</key>
		<string>035</string>
	</dict>
	<dict>
		<key>/嘘</key>
		<string>012</string>
	</dict>
	<dict>
		<key>/晕</key>
		<string>050</string>
	</dict>
	<dict>
		<key>/折磨</key>
		<string>014</string>
	</dict>
	<dict>
		<key>/衰</key>
		<string>040</string>
	</dict>
	<dict>
		<key>/骷髅</key>
		<string>077</string>
	</dict>
	<dict>
		<key>/敲打</key>
		<string>006</string>
	</dict>
	<dict>
		<key>/再见</key>
		<string>005</string>
	</dict>
	<dict>
		<key>/擦汗</key>
		<string>007</string>
	</dict>
	<dict>
		<key>/抠鼻</key>
		<string>084</string>
	</dict>
	<dict>
		<key>/鼓掌</key>
		<string>085</string>
	</dict>
	<dict>
		<key>/糗大了</key>
		<string>086</string>
	</dict>
	<dict>
		<key>/坏笑</key>
		<string>047</string>
	</dict>
	<dict>
		<key>/左哼哼</key>
		<string>087</string>
	</dict>
	<dict>
		<key>/右哼哼</key>
		<string>045</string>
	</dict>
	<dict>
		<key>/哈欠</key>
		<string>088</string>
	</dict>
	<dict>
		<key>/鄙视</key>
		<string>049</string>
	</dict>
	<dict>
		<key>/委屈</key>
		<string>015</string>
	</dict>
	<dict>
		<key>/快哭了</key>
		<string>089</string>
	</dict>
	<dict>
		<key>/阴险</key>
		<string>042</string>
	</dict>
	<dict>
		<key>/亲亲</key>
		<string>037</string>
	</dict>
	<dict>
		<key>/吓</key>
		<string>090</string>
	</dict>
	<dict>
		<key>/可怜</key>
		<string>052</string>
	</dict>
	<dict>
		<key>/菜刀</key>
		<string>018</string>
	</dict>
	<dict>
		<key>/西瓜</key>
		<string>061</string>
	</dict>
	<dict>
		<key>/啤酒</key>
		<string>062</string>
	</dict>
	<dict>
		<key>/篮球</key>
		<string>091</string>
	</dict>
	<dict>
		<key>/乒乓</key>
		<string>092</string>
	</dict>
	<dict>
		<key>/咖啡</key>
		<string>067</string>
	</dict>
	<dict>
		<key>/饭</key>
		<string>059</string>
	</dict>
	<dict>
		<key>/猪头</key>
		<string>008</string>
	</dict>
	<dict>
		<key>/玫瑰</key>
		<string>009</string>
	</dict>
	<dict>
		<key>/凋谢</key>
		<string>061</string>
	</dict>
	<dict>
		<key>/示爱</key>
		<string>030</string>
	</dict>
	<dict>
		<key>/爱心</key>
		<string>029</string>
	</dict>
	<dict>
		<key>/心碎</key>
		<string>073</string>
	</dict>
	<dict>
		<key>/蛋糕</key>
		<string>060</string>
	</dict>
	<dict>
		<key>/闪电</key>
		<string>079</string>
	</dict>
	<dict>
		<key>/炸弹</key>
		<string>017</string>
	</dict>
	<dict>
		<key>/刀</key>
		<string>069</string>
	</dict>
	<dict>
		<key>/足球</key>
		<string>076</string>
	</dict>
	<dict>
		<key>/瓢虫</key>
		<string>063</string>
	</dict>
	<dict>
		<key>/便便</key>
		<string>016</string>
	</dict>
	<dict>
		<key>/月亮</key>
		<string>068</string>
	</dict>
	<dict>
		<key>/太阳</key>
		<string>074</string>
	</dict>
	<dict>
		<key>/礼物</key>
		<string>075</string>
	</dict>
	<dict>
		<key>/拥抱</key>
		<string>046</string>
	</dict>
	<dict>
		<key>/强</key>
		<string>053</string>
	</dict>
	<dict>
		<key>/弱</key>
		<string>054</string>
	</dict>
	<dict>
		<key>/握手</key>
		<string>055</string>
	</dict>
	<dict>
		<key>/胜利</key>
		<string>056</string>
	</dict>
	<dict>
		<key>/抱拳</key>
		<string>057</string>
	</dict>
	<dict>
		<key>/勾引</key>
		<string>064</string>
	</dict>
	<dict>
		<key>/拳头</key>
		<string>072</string>
	</dict>
	<dict>
		<key>/差劲</key>
		<string>071</string>
	</dict>
	<dict>
		<key>/爱你</key>
		<string>066</string>
	</dict>
	<dict>
		<key>/NO</key>
		<string>093</string>
	</dict>
	<dict>
		<key>/OK</key>
		<string>065</string>
	</dict>
	<dict>
		<key>/爱情</key>
		<string>039</string>
	</dict>
	<dict>
		<key>/飞吻</key>
		<string>048</string>
	</dict>
	<dict>
		<key>/跳跳</key>
		<string>094</string>
	</dict>
	<dict>
		<key>/发抖</key>
		<string>070</string>
	</dict>
	<dict>
		<key>/怄火</key>
		<string>095</string>
	</dict>
	<dict>
		<key>/转圈</key>
		<string>096</string>
	</dict>
	<dict>
		<key>/磕头</key>
		<string>097</string>
	</dict>
	<dict>
		<key>/回头</key>
		<string>098</string>
	</dict>
	<dict>
		<key>/跳绳</key>
		<string>099</string>
	</dict>
	<dict>
		<key>/挥手</key>
		<string>078</string>
	</dict>
	<dict>
		<key>/激动</key>
		<string>100</string>
	</dict>
	<dict>
		<key>/街舞</key>
		<string>101</string>
	</dict>
	<dict>
		<key>/献吻</key>
		<string>102</string>
	</dict>
	<dict>
		<key>/左太极</key>
		<string>103</string>
	</dict>
	<dict>
		<key>/右太极</key>
		<string>104</string>
	</dict>
	<dict>
		<key>/双喜</key>
		<string>107</string>
	</dict>
	<dict>
		<key>/鞭炮</key>
		<string>108</string>
	</dict>
	<dict>
		<key>/灯笼</key>
		<string>109</string>
	</dict>
	<dict>
		<key>/发财</key>
		<string>110</string>
	</dict>
	<dict>
		<key>/K歌</key>
		<string>111</string>
	</dict>
	<dict>
		<key>/购物</key>
		<string>112</string>
	</dict>
	<dict>
		<key>/邮件</key>
		<string>113</string>
	</dict>
	<dict>
		<key>/帅</key>
		<string>114</string>
	</dict>
	<dict>
		<key>/喝彩</key>
		<string>115</string>
	</dict>
	<dict>
		<key>/祈祷</key>
		<string>116</string>
	</dict>
	<dict>
		<key>/爆筋</key>
		<string>117</string>
	</dict>
	<dict>
		<key>/棒棒糖</key>
		<string>118</string>
	</dict>
	<dict>
		<key>/喝奶</key>
		<string>119</string>
	</dict>
	<dict>
		<key>下面</key>
		<string>120</string>
	</dict>
	<dict>
		<key>/香蕉</key>
		<string>121</string>
	</dict>
	<dict>
		<key>/飞机</key>
		<string>112</string>
	</dict>
	<dict>
		<key>/开车</key>
		<string>123</string>
	</dict>
	<dict>
		<key>/左车头</key>
		<string>124</string>
	</dict>
	<dict>
		<key>/车厢</key>
		<string>125</string>
	</dict>
	<dict>
		<key>/右车头</key>
		<string>126</string>
	</dict>
	<dict>
		<key>/多云</key>
		<string>127</string>
	</dict>
	<dict>
		<key>/下雨</key>
		<string>128</string>
	</dict>
	<dict>
		<key>/钞票</key>
		<string>129</string>
	</dict>
	<dict>
		<key>/熊猫</key>
		<string>130</string>
	</dict>
	<dict>
		<key>/灯泡</key>
		<string>131</string>
	</dict>
	<dict>
		<key>/风车</key>
		<string>132</string>
	</dict>
	<dict>
		<key>/闹钟</key>
		<string>133</string>
	</dict>
	<dict>
		<key>/打伞</key>
		<string>134</string>
	</dict>
	<dict>
		<key>/彩球</key>
		<string>135</string>
	</dict>
	<dict>
		<key>/钻戒</key>
		<string>136</string>
	</dict>
	<dict>
		<key>/沙发</key>
		<string>137</string>
	</dict>
	<dict>
		<key>/纸巾</key>
		<string>138</string>
	</dict>
	<dict>
		<key>/药</key>
		<string>139</string>
	</dict>
	<dict>
		<key>/手枪</key>
		<string>140</string>
	</dict>
	<dict>
		<key>/青蛙</key>
		<string>141</string>
	</dict>
</array>
</plist>
