<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.sina.lxh</string>
	<key>version</key>
	<integer>2</integer>
	<key>group_name_cn</key>
	<string>浪小花</string>
	<key>group_name_tw</key>
	<string>浪小花</string>
	<key>group_name_en</key>
	<string>Huahua</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[笑哈哈]</string>
			<key>cht</key>
			<string>[笑哈哈]</string>
			<key>gif</key>
			<string>lxh_xiaohaha.gif</string>
			<key>png</key>
			<string>lxh_xiaohaha.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[好爱哦]</string>
			<key>cht</key>
			<string>[好愛哦]</string>
			<key>gif</key>
			<string>lxh_haoaio.gif</string>
			<key>png</key>
			<string>lxh_haoaio.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[噢耶]</string>
			<key>cht</key>
			<string>[噢耶]</string>
			<key>gif</key>
			<string>lxh_oye.gif</string>
			<key>png</key>
			<string>lxh_oye.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷乐]</string>
			<key>cht</key>
			<string>[偷樂]</string>
			<key>gif</key>
			<string>lxh_toule.gif</string>
			<key>png</key>
			<string>lxh_toule.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[泪流满面]</string>
			<key>cht</key>
			<string>[淚流滿面]</string>
			<key>gif</key>
			<string>lxh_leiliumanmian.gif</string>
			<key>png</key>
			<string>lxh_leiliumanmian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[巨汗]</string>
			<key>cht</key>
			<string>[巨汗]</string>
			<key>gif</key>
			<string>lxh_juhan.gif</string>
			<key>png</key>
			<string>lxh_juhan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抠鼻屎]</string>
			<key>cht</key>
			<string>[摳鼻屎]</string>
			<key>gif</key>
			<string>lxh_koubishi.gif</string>
			<key>png</key>
			<string>lxh_koubishi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[求关注]</string>
			<key>cht</key>
			<string>[求關注]</string>
			<key>gif</key>
			<string>lxh_qiuguanzhu.gif</string>
			<key>png</key>
			<string>lxh_qiuguanzhu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[好喜欢]</string>
			<key>cht</key>
			<string>[好喜歡]</string>
			<key>gif</key>
			<string>lxh_haoxihuan.gif</string>
			<key>png</key>
			<string>lxh_haoxihuan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[崩溃]</string>
			<key>cht</key>
			<string>[崩潰]</string>
			<key>gif</key>
			<string>lxh_bengkui.gif</string>
			<key>png</key>
			<string>lxh_bengkui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[好囧]</string>
			<key>cht</key>
			<string>[好冏]</string>
			<key>gif</key>
			<string>lxh_haojiong.gif</string>
			<key>png</key>
			<string>lxh_haojiong.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[震惊]</string>
			<key>cht</key>
			<string>[震驚]</string>
			<key>gif</key>
			<string>lxh_zhenjing.gif</string>
			<key>png</key>
			<string>lxh_zhenjing.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[别烦我]</string>
			<key>cht</key>
			<string>[別煩我]</string>
			<key>gif</key>
			<string>lxh_biefanwo.gif</string>
			<key>png</key>
			<string>lxh_biefanwo.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[不好意思]</string>
			<key>cht</key>
			<string>[不好意思]</string>
			<key>gif</key>
			<string>lxh_buhaoyisi.gif</string>
			<key>png</key>
			<string>lxh_buhaoyisi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[羞嗒嗒]</string>
			<key>cht</key>
			<string>[羞嗒嗒]</string>
			<key>gif</key>
			<string>lxh_xiudada.gif</string>
			<key>png</key>
			<string>lxh_xiudada.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[得意地笑]</string>
			<key>cht</key>
			<string>[得意地笑]</string>
			<key>gif</key>
			<string>lxh_deyidexiao.gif</string>
			<key>png</key>
			<string>lxh_deyidexiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[纠结]</string>
			<key>cht</key>
			<string>[糾結]</string>
			<key>gif</key>
			<string>lxh_jiujie.gif</string>
			<key>png</key>
			<string>lxh_jiujie.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[给劲]</string>
			<key>cht</key>
			<string>[給勁]</string>
			<key>gif</key>
			<string>lxh_geijin.gif</string>
			<key>png</key>
			<string>lxh_geijin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[悲催]</string>
			<key>cht</key>
			<string>[悲催]</string>
			<key>gif</key>
			<string>lxh_beicui.gif</string>
			<key>png</key>
			<string>lxh_beicui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[甩甩手]</string>
			<key>cht</key>
			<string>[甩甩手]</string>
			<key>gif</key>
			<string>lxh_shuaishuaishou.gif</string>
			<key>png</key>
			<string>lxh_shuaishuaishou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[好棒]</string>
			<key>cht</key>
			<string>[好棒]</string>
			<key>gif</key>
			<string>lxh_haobang.gif</string>
			<key>png</key>
			<string>lxh_haobang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[瞧瞧]</string>
			<key>cht</key>
			<string>[瞧瞧]</string>
			<key>gif</key>
			<string>lxh_qiaoqiao.gif</string>
			<key>png</key>
			<string>lxh_qiaoqiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[不想上班]</string>
			<key>cht</key>
			<string>[不想上班]</string>
			<key>gif</key>
			<string>lxh_buxiangshangban.gif</string>
			<key>png</key>
			<string>lxh_buxiangshangban.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[困死了]</string>
			<key>cht</key>
			<string>[困死了]</string>
			<key>gif</key>
			<string>lxh_kunsile.gif</string>
			<key>png</key>
			<string>lxh_kunsile.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[许愿]</string>
			<key>cht</key>
			<string>[許願]</string>
			<key>gif</key>
			<string>lxh_xuyuan.gif</string>
			<key>png</key>
			<string>lxh_xuyuan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[丘比特]</string>
			<key>cht</key>
			<string>[丘比特]</string>
			<key>gif</key>
			<string>lxh_qiubite.gif</string>
			<key>png</key>
			<string>lxh_qiubite.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[有鸭梨]</string>
			<key>cht</key>
			<string>[有鴨梨]</string>
			<key>gif</key>
			<string>lxh_youyali.gif</string>
			<key>png</key>
			<string>lxh_youyali.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[想一想]</string>
			<key>cht</key>
			<string>[想一想]</string>
			<key>gif</key>
			<string>lxh_xiangyixiang.gif</string>
			<key>png</key>
			<string>lxh_xiangyixiang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[躁狂症]</string>
			<key>cht</key>
			<string>[躁狂症]</string>
			<key>gif</key>
			<string>lxh_zaokuangzheng.gif</string>
			<key>png</key>
			<string>lxh_zaokuangzheng.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[转发]</string>
			<key>cht</key>
			<string>[轉發]</string>
			<key>gif</key>
			<string>lxh_zhuanfa.gif</string>
			<key>png</key>
			<string>lxh_zhuanfa.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[互相膜拜]</string>
			<key>cht</key>
			<string>[互相膜拜]</string>
			<key>gif</key>
			<string>lxh_xianghumobai.gif</string>
			<key>png</key>
			<string>lxh_xianghumobai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[雷锋]</string>
			<key>cht</key>
			<string>[雷鋒]</string>
			<key>gif</key>
			<string>lxh_leifeng.gif</string>
			<key>png</key>
			<string>lxh_leifeng.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[杰克逊]</string>
			<key>cht</key>
			<string>[傑克遜]</string>
			<key>gif</key>
			<string>lxh_jiekexun.gif</string>
			<key>png</key>
			<string>lxh_jiekexun.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[玫瑰]</string>
			<key>cht</key>
			<string>[玫瑰]</string>
			<key>gif</key>
			<string>lxh_meigui.gif</string>
			<key>png</key>
			<string>lxh_meigui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[hold住]</string>
			<key>cht</key>
			<string>[hold住]</string>
			<key>gif</key>
			<string>lxh_holdzhu.gif</string>
			<key>png</key>
			<string>lxh_holdzhu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[群体围观]</string>
			<key>cht</key>
			<string>[群體圍觀]</string>
			<key>gif</key>
			<string>lxh_quntiweiguan.gif</string>
			<key>png</key>
			<string>lxh_quntiweiguan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[推荐]</string>
			<key>cht</key>
			<string>[推薦]</string>
			<key>gif</key>
			<string>lxh_tuijian.gif</string>
			<key>png</key>
			<string>lxh_tuijian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[赞啊]</string>
			<key>cht</key>
			<string>[贊啊]</string>
			<key>gif</key>
			<string>lxh_zana.gif</string>
			<key>png</key>
			<string>lxh_zana.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[被电]</string>
			<key>cht</key>
			<string>[被電]</string>
			<key>gif</key>
			<string>lxh_beidian.gif</string>
			<key>png</key>
			<string>lxh_beidian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[霹雳]</string>
			<key>cht</key>
			<string>[霹靂]</string>
			<key>gif</key>
			<string>lxh_pili.gif</string>
			<key>png</key>
			<string>lxh_pili.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
