<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<real>1</real>
	<key>packages</key>
	<array>
		<dict>
			<key>id</key>
			<string>com.sina.default</string>
			<key>version</key>
			<integer>0</integer>
			<key>display_only</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>com.apple.emoji</string>
			<key>version</key>
			<integer>0</integer>
			<key>display_only</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>com.sina.lxh</string>
			<key>version</key>
			<integer>0</integer>
			<key>display_only</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
