<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.sina.default</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_tw</key>
	<string>默認</string>
	<key>group_name_cn</key>
	<string>默认</string>
	<key>group_name_en</key>
	<string>Default</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[最右]</string>
			<key>cht</key>
			<string>[最右]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>d_zuiyou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[微笑]</string>
			<key>cht</key>
			<string>[微笑]</string>
			<key>gif</key>
			<string>d_hehe.gif</string>
			<key>png</key>
			<string>d_hehe.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[嘻嘻]</string>
			<key>cht</key>
			<string>[嘻嘻]</string>
			<key>gif</key>
			<string>d_xixi.gif</string>
			<key>png</key>
			<string>d_xixi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哈哈]</string>
			<key>cht</key>
			<string>[哈哈]</string>
			<key>gif</key>
			<string>d_haha.gif</string>
			<key>png</key>
			<string>d_haha.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱你]</string>
			<key>cht</key>
			<string>[愛你]</string>
			<key>gif</key>
			<string>d_aini.gif</string>
			<key>png</key>
			<string>d_aini.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[挖鼻]</string>
			<key>cht</key>
			<string>[挖鼻]</string>
			<key>gif</key>
			<string>d_wabishi.gif</string>
			<key>png</key>
			<string>d_wabishi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吃惊]</string>
			<key>cht</key>
			<string>[吃驚]</string>
			<key>gif</key>
			<string>d_chijing.gif</string>
			<key>png</key>
			<string>d_chijing.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[晕]</string>
			<key>cht</key>
			<string>[暈]</string>
			<key>gif</key>
			<string>d_yun.gif</string>
			<key>png</key>
			<string>d_yun.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[泪]</string>
			<key>cht</key>
			<string>[淚]</string>
			<key>gif</key>
			<string>d_lei.gif</string>
			<key>png</key>
			<string>d_lei.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[馋嘴]</string>
			<key>cht</key>
			<string>[饞嘴]</string>
			<key>gif</key>
			<string>d_chanzui.gif</string>
			<key>png</key>
			<string>d_chanzui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抓狂]</string>
			<key>cht</key>
			<string>[抓狂]</string>
			<key>gif</key>
			<string>d_zhuakuang.gif</string>
			<key>png</key>
			<string>d_zhuakuang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哼]</string>
			<key>cht</key>
			<string>[哼]</string>
			<key>gif</key>
			<string>d_heng.gif</string>
			<key>png</key>
			<string>d_heng.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[可爱]</string>
			<key>cht</key>
			<string>[可愛]</string>
			<key>gif</key>
			<string>d_keai.gif</string>
			<key>png</key>
			<string>d_keai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[怒]</string>
			<key>cht</key>
			<string>[怒]</string>
			<key>gif</key>
			<string>d_nu.gif</string>
			<key>png</key>
			<string>d_nu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[汗]</string>
			<key>cht</key>
			<string>[汗]</string>
			<key>gif</key>
			<string>d_han.gif</string>
			<key>png</key>
			<string>d_han.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[害羞]</string>
			<key>cht</key>
			<string>[害羞]</string>
			<key>gif</key>
			<string>d_haixiu.gif</string>
			<key>png</key>
			<string>d_haixiu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[睡]</string>
			<key>cht</key>
			<string>[睡]</string>
			<key>gif</key>
			<string>d_shuijiao.gif</string>
			<key>png</key>
			<string>d_shuijiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[钱]</string>
			<key>cht</key>
			<string>[錢]</string>
			<key>gif</key>
			<string>d_qian.gif</string>
			<key>png</key>
			<string>d_qian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷笑]</string>
			<key>cht</key>
			<string>[偷笑]</string>
			<key>gif</key>
			<string>d_touxiao.gif</string>
			<key>png</key>
			<string>d_touxiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[笑cry]</string>
			<key>cht</key>
			<string>[笑cry]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>d_xiaoku.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[doge]</string>
			<key>cht</key>
			<string>[doge]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>d_doge.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[喵喵]</string>
			<key>cht</key>
			<string>[喵喵]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>d_miao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[酷]</string>
			<key>cht</key>
			<string>[酷]</string>
			<key>gif</key>
			<string>d_ku.gif</string>
			<key>png</key>
			<string>d_ku.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[衰]</string>
			<key>cht</key>
			<string>[衰]</string>
			<key>gif</key>
			<string>d_shuai.gif</string>
			<key>png</key>
			<string>d_shuai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闭嘴]</string>
			<key>cht</key>
			<string>[閉嘴]</string>
			<key>gif</key>
			<string>d_bizui.gif</string>
			<key>png</key>
			<string>d_bizui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鄙视]</string>
			<key>cht</key>
			<string>[鄙視]</string>
			<key>gif</key>
			<string>d_bishi.gif</string>
			<key>png</key>
			<string>d_bishi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[色]</string>
			<key>cht</key>
			<string>[色]</string>
			<key>gif</key>
			<string>d_huaxin.gif</string>
			<key>png</key>
			<string>d_huaxin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鼓掌]</string>
			<key>cht</key>
			<string>[鼓掌]</string>
			<key>gif</key>
			<string>d_guzhang.gif</string>
			<key>png</key>
			<string>d_guzhang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[悲伤]</string>
			<key>cht</key>
			<string>[悲傷]</string>
			<key>gif</key>
			<string>d_beishang.gif</string>
			<key>png</key>
			<string>d_beishang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[思考]</string>
			<key>cht</key>
			<string>[思考]</string>
			<key>gif</key>
			<string>d_sikao.gif</string>
			<key>png</key>
			<string>d_sikao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[生病]</string>
			<key>cht</key>
			<string>[生病]</string>
			<key>gif</key>
			<string>d_shengbing.gif</string>
			<key>png</key>
			<string>d_shengbing.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[亲亲]</string>
			<key>cht</key>
			<string>[親親]</string>
			<key>gif</key>
			<string>d_qinqin.gif</string>
			<key>png</key>
			<string>d_qinqin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[怒骂]</string>
			<key>cht</key>
			<string>[怒罵]</string>
			<key>gif</key>
			<string>d_numa.gif</string>
			<key>png</key>
			<string>d_numa.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[太开心]</string>
			<key>cht</key>
			<string>[太開心]</string>
			<key>gif</key>
			<string>d_taikaixin.gif</string>
			<key>png</key>
			<string>d_taikaixin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[白眼]</string>
			<key>cht</key>
			<string>[白眼]</string>
			<key>gif</key>
			<string>d_landelini.gif</string>
			<key>png</key>
			<string>d_landelini.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[右哼哼]</string>
			<key>cht</key>
			<string>[右哼哼]</string>
			<key>gif</key>
			<string>d_youhengheng.gif</string>
			<key>png</key>
			<string>d_youhengheng.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[左哼哼]</string>
			<key>cht</key>
			<string>[左哼哼]</string>
			<key>gif</key>
			<string>d_zuohengheng.gif</string>
			<key>png</key>
			<string>d_zuohengheng.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[嘘]</string>
			<key>cht</key>
			<string>[嘘]</string>
			<key>gif</key>
			<string>d_xu.gif</string>
			<key>png</key>
			<string>d_xu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[委屈]</string>
			<key>cht</key>
			<string>[委屈]</string>
			<key>gif</key>
			<string>d_weiqu.gif</string>
			<key>png</key>
			<string>d_weiqu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吐]</string>
			<key>cht</key>
			<string>[吐]</string>
			<key>gif</key>
			<string>d_tu.gif</string>
			<key>png</key>
			<string>d_tu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[可怜]</string>
			<key>cht</key>
			<string>[可憐]</string>
			<key>gif</key>
			<string>d_kelian.gif</string>
			<key>png</key>
			<string>d_kelian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哈欠]</string>
			<key>cht</key>
			<string>[哈欠]</string>
			<key>gif</key>
			<string>d_dahaqi.gif</string>
			<key>png</key>
			<string>d_dahaqi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[挤眼]</string>
			<key>cht</key>
			<string>[擠眼]</string>
			<key>gif</key>
			<string>d_jiyan.gif</string>
			<key>png</key>
			<string>d_jiyan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[失望]</string>
			<key>cht</key>
			<string>[失望]</string>
			<key>gif</key>
			<string>d_shiwang.gif</string>
			<key>png</key>
			<string>d_shiwang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[顶]</string>
			<key>cht</key>
			<string>[頂]</string>
			<key>gif</key>
			<string>d_ding.gif</string>
			<key>png</key>
			<string>d_ding.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疑问]</string>
			<key>cht</key>
			<string>[疑問]</string>
			<key>gif</key>
			<string>d_yiwen.gif</string>
			<key>png</key>
			<string>d_yiwen.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[困]</string>
			<key>cht</key>
			<string>[困]</string>
			<key>gif</key>
			<string>d_kun.gif</string>
			<key>png</key>
			<string>d_kun.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[感冒]</string>
			<key>cht</key>
			<string>[感冒]</string>
			<key>gif</key>
			<string>d_ganmao.gif</string>
			<key>png</key>
			<string>d_ganmao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拜拜]</string>
			<key>cht</key>
			<string>[拜拜]</string>
			<key>gif</key>
			<string>d_baibai.gif</string>
			<key>png</key>
			<string>d_baibai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[黑线]</string>
			<key>cht</key>
			<string>[黑線]</string>
			<key>gif</key>
			<string>d_heixian.gif</string>
			<key>png</key>
			<string>d_heixian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[阴险]</string>
			<key>cht</key>
			<string>[阴险]</string>
			<key>gif</key>
			<string>d_yinxian.gif</string>
			<key>png</key>
			<string>d_yinxian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[打脸]</string>
			<key>cht</key>
			<string>[打臉]</string>
			<key>gif</key>
			<string>d_dalian.gif</string>
			<key>png</key>
			<string>d_dalian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[傻眼]</string>
			<key>cht</key>
			<string>[傻眼]</string>
			<key>gif</key>
			<string>d_shayan.gif</string>
			<key>png</key>
			<string>d_shayan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[互粉]</string>
			<key>cht</key>
			<string>[互粉]</string>
			<key>gif</key>
			<string>f_hufen.gif</string>
			<key>png</key>
			<string>f_hufen.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[心]</string>
			<key>cht</key>
			<string>[心]</string>
			<key>gif</key>
			<string>l_xin.gif</string>
			<key>png</key>
			<string>l_xin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[伤心]</string>
			<key>cht</key>
			<string>[傷心]</string>
			<key>gif</key>
			<string>l_shangxin.gif</string>
			<key>png</key>
			<string>l_shangxin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[猪头]</string>
			<key>cht</key>
			<string>[豬頭]</string>
			<key>gif</key>
			<string>d_zhutou.gif</string>
			<key>png</key>
			<string>d_zhutou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[熊猫]</string>
			<key>cht</key>
			<string>[熊貓]</string>
			<key>gif</key>
			<string>d_xiongmao.gif</string>
			<key>png</key>
			<string>d_xiongmao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[兔子]</string>
			<key>cht</key>
			<string>[兔子]</string>
			<key>gif</key>
			<string>d_tuzi.gif</string>
			<key>png</key>
			<string>d_tuzi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[握手]</string>
			<key>cht</key>
			<string>[握手]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>h_woshou.png</string>
			<key>type</key>
			<string></string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[作揖]</string>
			<key>cht</key>
			<string>[作揖]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>h_zuoyi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[赞]</string>
			<key>cht</key>
			<string>[贊]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>h_zan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[耶]</string>
			<key>cht</key>
			<string>[耶]</string>
			<key>gif</key>
			<string>h_ye.gif</string>
			<key>png</key>
			<string>h_ye.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[good]</string>
			<key>cht</key>
			<string>[good]</string>
			<key>gif</key>
			<string>h_good.gif</string>
			<key>png</key>
			<string>h_good.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[弱]</string>
			<key>cht</key>
			<string>[弱]</string>
			<key>gif</key>
			<string>h_ruo.gif</string>
			<key>png</key>
			<string>h_ruo.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[NO]</string>
			<key>cht</key>
			<string>[NO]</string>
			<key>gif</key>
			<string>h_buyao.gif</string>
			<key>png</key>
			<string>h_buyao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[ok]</string>
			<key>cht</key>
			<string>[ok]</string>
			<key>gif</key>
			<string>h_ok.gif</string>
			<key>png</key>
			<string>h_ok.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[haha]</string>
			<key>cht</key>
			<string>[haha]</string>
			<key>gif</key>
			<string>h_haha.gif</string>
			<key>png</key>
			<string>h_haha.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[来]</string>
			<key>cht</key>
			<string>[來]</string>
			<key>gif</key>
			<string>h_lai.gif</string>
			<key>png</key>
			<string>h_lai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拳头]</string>
			<key>cht</key>
			<string>[拳頭]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>h_quantou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[威武]</string>
			<key>cht</key>
			<string>[威武]</string>
			<key>gif</key>
			<string>f_v5.gif</string>
			<key>png</key>
			<string>f_v5.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鲜花]</string>
			<key>cht</key>
			<string>[鮮花]</string>
			<key>gif</key>
			<string>w_xianhua.gif</string>
			<key>png</key>
			<string>w_xianhua.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[钟]</string>
			<key>cht</key>
			<string>[鐘]</string>
			<key>gif</key>
			<string>o_zhong.gif</string>
			<key>png</key>
			<string>o_zhong.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[浮云]</string>
			<key>cht</key>
			<string>[浮雲]</string>
			<key>gif</key>
			<string>w_fuyun.gif</string>
			<key>png</key>
			<string>w_fuyun.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[飞机]</string>
			<key>cht</key>
			<string>[飛機]</string>
			<key>gif</key>
			<string>o_feiji.gif</string>
			<key>png</key>
			<string>o_feiji.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[月亮]</string>
			<key>cht</key>
			<string>[月亮]</string>
			<key>gif</key>
			<string>w_yueliang.gif</string>
			<key>png</key>
			<string>w_yueliang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[太阳]</string>
			<key>cht</key>
			<string>[太陽]</string>
			<key>gif</key>
			<string>w_taiyang.gif</string>
			<key>png</key>
			<string>w_taiyang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[微风]</string>
			<key>cht</key>
			<string>[微風]</string>
			<key>gif</key>
			<string>w_weifeng.gif</string>
			<key>png</key>
			<string>w_weifeng.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[下雨]</string>
			<key>cht</key>
			<string>[下雨]</string>
			<key>gif</key>
			<string>w_xiayu.gif</string>
			<key>png</key>
			<string>w_xiayu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[给力]</string>
			<key>cht</key>
			<string>[給力]</string>
			<key>gif</key>
			<string>f_geili.gif</string>
			<key>png</key>
			<string>f_geili.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[神马]</string>
			<key>cht</key>
			<string>[神馬]</string>
			<key>gif</key>
			<string>f_shenma.gif</string>
			<key>png</key>
			<string>f_shenma.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[围观]</string>
			<key>cht</key>
			<string>[圍觀]</string>
			<key>gif</key>
			<string>o_weiguan.gif</string>
			<key>png</key>
			<string>o_weiguan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[话筒]</string>
			<key>cht</key>
			<string>[話筒]</string>
			<key>gif</key>
			<string>o_huatong.gif</string>
			<key>png</key>
			<string>o_huatong.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[奥特曼]</string>
			<key>cht</key>
			<string>[奥特曼]</string>
			<key>gif</key>
			<string>d_aoteman.gif</string>
			<key>png</key>
			<string>d_aoteman.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[草泥马]</string>
			<key>cht</key>
			<string>[草泥馬]</string>
			<key>gif</key>
			<string>shenshou_thumb.gif</string>
			<key>png</key>
			<string>d_shenshou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[萌]</string>
			<key>cht</key>
			<string>[萌]</string>
			<key>gif</key>
			<string>f_meng.gif</string>
			<key>png</key>
			<string>f_meng.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[囧]</string>
			<key>cht</key>
			<string>[囧]</string>
			<key>gif</key>
			<string>f_jiong.gif</string>
			<key>png</key>
			<string>f_jiong.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[织]</string>
			<key>cht</key>
			<string>[織]</string>
			<key>gif</key>
			<string>f_zhi.gif</string>
			<key>png</key>
			<string>f_zhi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[礼物]</string>
			<key>cht</key>
			<string>[禮物]</string>
			<key>gif</key>
			<string>o_liwu.gif</string>
			<key>png</key>
			<string>o_liwu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[喜]</string>
			<key>cht</key>
			<string>[喜]</string>
			<key>gif</key>
			<string>f_xi.gif</string>
			<key>png</key>
			<string>f_xi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[围脖]</string>
			<key>cht</key>
			<string>[圍脖]</string>
			<key>gif</key>
			<string>o_weibo.gif</string>
			<key>png</key>
			<string>o_weibo.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[音乐]</string>
			<key>cht</key>
			<string>[音樂]</string>
			<key>gif</key>
			<string>o_yinyue.gif</string>
			<key>png</key>
			<string>o_yinyue.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[绿丝带]</string>
			<key>cht</key>
			<string>[綠絲帶]</string>
			<key>gif</key>
			<string>o_lvsidai.gif</string>
			<key>png</key>
			<string>o_lvsidai.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[蛋糕]</string>
			<key>cht</key>
			<string>[蛋糕]</string>
			<key>gif</key>
			<string>o_dangao.gif</string>
			<key>png</key>
			<string>o_dangao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[蜡烛]</string>
			<key>cht</key>
			<string>[蠟燭]</string>
			<key>gif</key>
			<string>o_lazhu.gif</string>
			<key>png</key>
			<string>o_lazhu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[干杯]</string>
			<key>cht</key>
			<string>[乾杯]</string>
			<key>gif</key>
			<string>o_ganbei.gif</string>
			<key>png</key>
			<string>o_ganbei.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[男孩儿]</string>
			<key>cht</key>
			<string>[男孩儿]</string>
			<key>gif</key>
			<string>d_nanhaier.gif</string>
			<key>png</key>
			<string>d_nanhaier.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[女孩儿]</string>
			<key>cht</key>
			<string>[女孩儿]</string>
			<key>gif</key>
			<string>d_nvhaier.gif</string>
			<key>png</key>
			<string>d_nvhaier.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[肥皂]</string>
			<key>cht</key>
			<string>[肥皂]</string>
			<key>gif</key>
			<string>d_feizao.gif</string>
			<key>png</key>
			<string>d_feizao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[照相机]</string>
			<key>cht</key>
			<string>[照相机]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>o_zhaoxiangji.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[浪]</string>
			<key>cht</key>
			<string>[浪]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>d_lang.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[沙尘暴]</string>
			<key>cht</key>
			<string>[沙塵暴]</string>
			<key>gif</key>
			<string>w_shachenbao.gif</string>
			<key>png</key>
			<string>w_shachenbao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
